* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
    
    font-family: 'Outfit', sans-serif;
    font-size: 15px;

    background-color: var(--color-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: var(--color-white);
}

h1 {
    color: var(--color-dark-blue);
}

p {
    color: var(--color-grayish-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}